body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header";
    height: 100px;
    overflow: auto;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.lgo {
    grid-area: header;
    width: 100%;
    background-color: rgb(1,68,33,1.0);
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;

}

.logo {
    width: 100px;
    height: 100px;
    margin:0 200px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 200px;
}

.amount-label {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.amount-label:hover {
    background-color: #f0f0f0;
}